@charset "utf-8"

@import 'norma'
@import 'short'

@import 'common'
@import 'pages/0_icons'
@import 'pages/0_circles'
@import 'pages/0_inputs'

@import 'pages/1_start'
@import 'pages/2_fighting_style'
@import 'pages/3_mission'
@import 'pages/4_news'
@import 'pages/5_program'
@import 'pages/6_schedule'
@import 'pages/7_contact'
