_dirs = (t top) (b bottom) (l left) (r right)

_dir(arg)
  return arg in values(_dirs) ? arg : ''

_c()
  if arguments[0] is a 'unit'
    return hsl( 0, 0, arguments[0] ) if length(arguments) == 1
    return hsl( arguments[0], arguments[1], arguments[2] ) if length(arguments) == 3
    return hsla( arguments[0], arguments[1], arguments[2], arguments[3] ) if length(arguments) == 4
  else
    return arguments

_u()
  for i in (0...length(arguments))
    if length( arguments[i] ) > 1
      arguments[i] = _c( arguments[i] )
    
    else if arguments[i] is a 'unit' 
      if !unit( arguments[i] ) && length(arguments[i]) == 1
        arguments[i] = unit( arguments[i], 'px' )
    
    else if type(arguments[i]) == 'function'
      for val in _dirs
        if val[0] == arguments[i]
          arguments[i] = val[1]

  return arguments

_d( prop, args )
  args = _u(args)
  if args[0] is a 'unit'
    {prop} args
  else
    for i in (0...length(args))
      if even(i)
        {s( '%s-%s', prop, args[i] )}: args[i+1]

_v( arg, variants )
  push( variants, (non none), (inh inherit), (aut auto), (nor normal) )
  
  for var in variants
    if arg == var[0]
      return var[1]
  return arg
