.ikonka
  z-index 20
  pos abs
  bac-img url('/images/icons.png')

.icono
  &_search
    ext ikonka
    bac-pos 0 0
    siz 22 23

  &_menu
    ext ikonka
    bac-pos -22 0
    siz 23 20

  &_to_right
    ext ikonka
    bac-pos 0 -23
    siz 12 23

  &_to_left
    ext ikonka
    bac-pos -12 -23
    siz 13 23

  &_to_bottom_0
    ext ikonka
    bac-pos -28 -33
    siz 16 10

  &_to_bottom_1
    ext ikonka
    bac-pos -25 -20
    siz 22 13

  &_arrow_right
    ext ikonka
    bac-pos 0 -46
    siz 18 13

  &_arrow_left
    ext ikonka
    bac-pos -18 -46
    siz 18 13
