#page_start
  hei 480
  bac url('/images/img_1.jpg') center 105 no-repeat

  .menu_top
    pad t 14
    hei 28

  .age_group
    dis tbl
    mar cen
    pad r 20
    pos rel
    txt-clr white
    txt-siz 20
    txt-hei 20

  .icono
  
    &_menu
      t 12
      l 21

    &_search
      t 10
      r 22

    &_to_bottom_0
      t 4
      r 0

    &_to_bottom_1
      b: 5
      l 8


  &_logo
    pos abs
    t 63
    l 27
    z 11

  .header
    pos abs
    t 65
    l 83
    txt-ali cen

  &_button
    wid 38
    hei 30
    pad t 6
    pos abs
    b: 0
    l: 141
    brd-rds 4 4 0 0
    txt-siz 10
    txt-ali cen
    txt-clr white
    txt-wei bld
    txt-dec non

    ext gradient_orange
