#page_fighting_style
  pad b 33
  brd b 1 solid rgb(210, 211, 211)

  .menu_top
    pad t 20
    hei 29

  .style_name
    dis tbl
    mar cen
    txt-clr white
    txt-siz 26
    txt-hei 26
    txt-dec und

  .icono
    
    &_arrow_left
      t 25
      l 59

    &_arrow_right
      t 25
      r 59

  .finghting_style
    wid 320

  .content_text
    mar t 28

  .fighting_style_img
    mar t 59

  .fighting_style_masters
    mar t 41
    pad l 55 b 9

  .master
    mar t 25
    pad l 19

    .photo, .about
      ext ib

    .photo
      mar r 12
    img
      brd-rds 50%

    .name
      txt-siz 20
      txt-hei 20
      
    .rang
      mar t 10
      txt-siz 14
      txt-hei 16
