#page_fighting_style
  pad b 28
  bor b 1 solid rgb(210, 211, 211)

  .menu_top
    hei 49

  .content_text
    mar t 42

  .fighting_style_img
    mar t 20

  .fighting_style_masters
    mar t 45
    pad l 55

  .master
    mar t 30
    pad l 19

    .photo, .about
      ext ib

    .photo
      mar r 12
    img
      bor-rds 50%

    .name
      txt-siz 20
      txt-hei 20
      
    .rang
      mar t 10
      txt-siz 14
      txt-hei 16
