#page_news
  hei 292
  bac-clr red
  txt-clr white
  pad t 28 l 23 r 41

  &_link
    pad l 7
    txt-siz 25.61

  &_window
    mar t 15

    .news
      pos rel
      hei 208
      wid 256
      bac-clr yellow

    .title
      pos abs
      b: 0
      l: 0
      r: 0
      pad 7 12 2
      bac-clr 0 0 0 0.4
      txt-sha 0 0 1 (0 0 0 0.3)
      txt-siz 19
      txt-hei 20
      txt-spa -2
    .date
      txt-siz 15
      txt-hei 17
      txt-spa 0
