#page_schedule
  hei 445
  ext gradient_red
  txt-clr white
  pad t 25

  &_link
    mar l 28
    pad l 39
    txt-siz 25.61
    pos rel

  &_days
    mar t 35 l 83
    wid 145

    .day
      pad r 80

    .title
      txt-siz 24
      mar b 20

    .class + .class
      mar t 10

    .time, .subject, .hour, .minute
      ext ib

    .time
      brd t 1 solid (0 0 100)
      wid 114
      pad t 15

    .hour
      txt-siz 26
      txt-hei 26
    .minute
      mar l 2
      txt-siz 18
      txt-hei 18
      
    .subject
      mar l -60
      brd l 1 solid (0 0 100)
      pad t 10
      wid 90
      txt-hei 18
      txt-ali cen

    .style
      txt-siz 18

    .age
      txt-siz 14
      txt-stl ita

  .icono
    &_to_left
      t 0
      l 0

    &_arrow_left
      t 98
      l 38
      cur pnt

    &_arrow_right
      t 98
      r 63
      cur pnt
